body {
    margin: 0;
    padding: 20px 0 0 0;
}
.bigPicBlock {
    border: 1px solid black;
    width: 512px;
    height: 384px;
    margin: 40px auto 0;
}

.wrapBlock {
    display: flex;
    justify-content: space-between;
    width: 808px;
    height: 192px;
    margin: 0 auto;
}